
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input {
    width: 600px;
}

textarea {
    width: 600px;
}

button {
    width: 600px;
    background-color: green;
    color: white;
    border-radius: 4px;
}